:root {
  --green: #ade792;
}

.articlePage {
  margin: 0 auto;
  padding: 30px;
}

.articlePage__header {
  text-align: center;
}

.articles-list {
  max-width: 1200px;
  margin: auto;
  padding: 45px 0;
  display: grid;
  justify-content: center;
  gap: 40px;
}

.article-item {
  /* margin: 10px; */
  padding: 10px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 8px;
  overflow: hidden;
  transition: 0.5s cubic-bezier(0.4, 0, 1, 1);
  background: #ffff;
}

.article-item:hover {
  background: #ddd;
}

.article-item__content {
  padding: 16px;
}

.article-item__header {
  position: relative;
}

.artilce-item__image {
  margin: 0 auto;
  display: block;
  height: 200px;
  width: 200px;
}

.article-item__title {
  margin: 0 0 10px 0;
  color: black;
}

a.article-item__link {
  text-decoration: none;
  color: #51b4f9;
  font-weight: bold;
}

.article-item__body {
  margin: 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
